Booleans

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [5]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [6]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [7]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [8]:
def myFunction() :
  return True

print(myFunction())

True

In [9]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [10]:
x = 200
print(isinstance(x, int))

True

Operators

In [11]:
print(10 + 5)

15

Arithmetic Operators

In [12]:
x = 5
y = 3

print(x + y)

8

In [13]:
x = 5
y = 3

print(x - y)

2

In [14]:
x = 5
y = 3

print(x * y)

15

In [15]:
x = 12
y = 3

print(x / y)

4.0

In [16]:
x = 5
y = 2

print(x % y)

1

In [19]:
x = 2
y = 5

print(x ** y)

32

In [18]:
x = 15
y = 2

print(x // y)

7

Assignment Operators

In [20]:
x = 5

print(x)

5

In [21]:
x = 5

x += 3

print(x)

8

In [22]:
x = 5

x -= 3

print(x)

2

In [23]:
x = 5

x *= 3

print(x)

15

In [24]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [25]:
x = 5

x%=3

print(x)

2

In [26]:
x = 5

x//=3

print(x)

1

In [27]:
x = 5

x **= 3

print(x)

125

In [28]:
x = 5

x &= 3

print(x)

1

In [29]:
x = 5

x |= 3

print(x)

7

In [30]:
x = 5

x ^= 3

print(x)

6

In [31]:
x = 5

x >>= 3

print(x)

0

In [32]:
x = 5

x <<= 3

print(x)

40

In [33]:
print(x := 3)

3

Comparison Operators

In [34]:
x = 5
y = 3

print(x == y)

False

In [35]:
x = 5
y = 3

print(x != y)

True

In [36]:
x = 5
y = 3

print(x > y)

True

In [37]:
x = 5
y = 3

print(x < y)

False

In [38]:
x = 5
y = 3

print(x >= y)

True

In [39]:
x = 5
y = 3

print(x <= y)

False

Logical Operators

In [40]:
x = 5

print(x > 3 and x < 10)

True

In [41]:
x = 5

print(x > 3 or x < 4)

True

In [42]:
x = 5

print(not(x > 3 and x < 10))

False

Identity Operators

In [43]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

In [44]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

print(x is not y)

print(x != y)

False
True
False

Membership Operators

In [45]:
x = ["apple", "banana"]

print("banana" in x)

True

In [46]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

Bitwise Operators

In [47]:
print(6 & 3)

2

In [48]:
print(6 | 3)

7

In [49]:
print(6 ^ 3)

5

In [50]:
print(~3)

-4

In [51]:
print(3 << 2)

12

In [52]:
print(8 >> 2)

2

Operator Precedence

In [53]:
print((6 + 3) - (6 + 3))

0

In [54]:
print(100 + 5 * 3)

115

In [55]:
print(100 - 3 ** 3)

73

In [56]:
print(100 + ~3)

96

In [59]:
print(8 >> 4 - 2)

2

In [60]:
print(6 & 2 + 1)

2

In [61]:
print(6 ^ 2 + 1)

5

In [62]:
print(6 | 2 + 1)

7

In [63]:
print(5 == 4 + 1)

True

In [64]:
print(not 5 == 5)

False

In [65]:
print(1 or 2 and 3)

1

In [66]:
print(4 or 5 + 10 or 8)

4

In [67]:
print(5 + 4 - 7 + 3)

5

Python Lists

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [69]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

Access List Items

In [70]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [71]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [75]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [76]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change List Items

In [77]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [78]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [80]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [82]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Add List Items

In [83]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [84]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [85]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [86]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Remove List Items

In [87]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [88]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [90]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [91]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [92]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Lists

In [94]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [95]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [96]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [97]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension

In [98]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [99]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [100]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [101]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [102]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [104]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [105]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [106]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

Sort Lists

In [107]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [108]:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [109]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [110]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

In [111]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [112]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [113]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [114]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy Lists

In [115]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [116]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [117]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Join Lists

In [118]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [119]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [120]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Python Tuples

In [121]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [122]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [123]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

3

In [124]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [125]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [126]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [127]:
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

In [128]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items

In [129]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [130]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [131]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [132]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [133]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [134]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [135]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

In [136]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [137]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [138]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [139]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [140]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

Unpack Tuples

In [141]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

In [142]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [143]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [144]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [145]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [146]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [147]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

In [148]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [149]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python Sets

In [150]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [151]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [153]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [154]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [155]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [156]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [157]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'abc', 40, 'male'}

In [158]:
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

In [159]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'apple', 'cherry'}

Access Set Items

In [160]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [161]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [162]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Set Items

In [163]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [164]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'papaya', 'mango', 'banana', 'cherry'}

In [165]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'banana', 'cherry', 'orange'}

Remove Set Items

In [166]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [167]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [170]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [171]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [172]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Loop Sets

In [173]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

Join Sets

In [174]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 'c', 1, 2, 3, 'a'}

In [175]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 'c', 1, 2, 3, 'a'}

In [176]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'Elena', 'a', 'b', 'apple', 'bananas', 'John', 'cherry'}

In [177]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'c', 1, 2, 3, 'Elena', 'a', 'b', 'apple', 'bananas', 'John', 'cherry'}

In [178]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'c', 1, 2, 3, 'a', 'b'}

In [179]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 'c', 1, 2, 3, 'a'}

In [180]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [181]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [182]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [183]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}

set3 = set1.intersection(set2)
print(set3)

{False, True, 'apple'}

In [184]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [185]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [186]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [187]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [188]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [189]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

Python Dictionaries

In [190]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [191]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [192]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [193]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [194]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [195]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [196]:
thisdict = dict(name = "John", age = 36, country = "Norway")

print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Access Dictionary Items

In [197]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [198]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [199]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [200]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [201]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [202]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [203]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [204]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [205]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [206]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [207]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Dictionary Items

In [208]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [209]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Add Dictionary Items

In [210]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [211]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Remove Dictionary Items

In [212]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [213]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [214]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [215]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [216]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Loop Dictionaries

In [217]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [218]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [219]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [220]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [221]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

Copy Dictionaries

In [222]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [223]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [224]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [225]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [226]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias

In [227]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Python If ... Else

In [228]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [229]:
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 4 (3008555438.py, line 5)

In [230]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [231]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [232]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [233]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [234]:
a = 2
b = 330

print("A") if a > b else print("B")

B

In [235]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

In [236]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [237]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [238]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [239]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [241]:
a = 33
b = 200

if b > a:
  pass

Python While Loops

In [242]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [243]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [244]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [245]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

In [246]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [247]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [248]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [249]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [250]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [251]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [252]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [253]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [254]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [255]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [256]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [257]:
for x in [0, 1, 2]:
  pass